<div th:fragments="topbar"
     class="container-fluid bg-primary py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white pr-3" href="/register">Регистрация</a>
                    <span class="text-white">|</span>
                    <a class="text-white px-3" href="/login">Вход</a>
                    <span class="text-white">|</span>
                    <a class="text-white pl-3" href="/add/product">Добави продукт</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="/logout">Изход</a>
                </div>
            </div>
        </div>
    </div>
</div>