<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Бримчица - магазин за ръчно изработени плетива</title>
    <th:block th:replace="~{fragments/headForAdminPanel}"></th:block>
</head>
<body>

<a th:href="@{/}" class="btn btn-primary"><i class="material-icons"></i> <span>Начална страница</span></a>


<div id="wrapper">

    <table border=1 id="table_detail"
           align=center cellpadding=10>

        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Job</th>
        </tr>

        <tr onclick="showHideRow('hidden_row1');">
            <td>Person-1</td>
            <td>24</td>
            <td>60000</td>
            <td>Computer Programmer</td>
        </tr>
        <tr id="hidden_row1" class="hidden_row">
            <td colspan=4>
                Person-1 is 24 years old and
                he is a computer programmer
                he earns 60000 per month
            </td>
        </tr>

        <tr onclick="showHideRow('hidden_row2');">
            <td>Person-2</td>
            <td>25</td>
            <td>100000</td>
            <td>Web Designer</td>
        </tr>
        <tr id="hidden_row2" class="hidden_row">
            <td colspan=4>
                Person-2 is 25 years old and
                she is a web designer she earns
                100000 per month
            </td>
        </tr>

        <tr onclick="showHideRow('hidden_row3');">
            <td>Person-3</td>
            <td>35</td>
            <td>90000</td>
            <td>Cyber Security Expert</td>
        </tr>
        <tr id="hidden_row3" class="hidden_row">
            <td colspan=4>
                Person is 35 years old and he
                is a cyber security expert he
                earns 90000 per month
            </td>
        </tr>

        <tr onclick="showHideRow('hidden_row4');">
            <td>Person-4</td>
            <td>52</td>
            <td>200000</td>
            <td>Content Writer</td>
        </tr>
        <tr id="hidden_row4" class="hidden_row">
            <td colspan=4>
                Person-4 is 52 years old and he
                is a content writer he earns
                200000 per month
            </td>
        </tr>

        <tr onclick="showHideRow('hidden_row5');">
            <td>Person-5</td>
            <td>38</td>
            <td>400000</td>
            <td>Chief Executive</td>
        </tr>
        <tr id="hidden_row5" class="hidden_row">
            <td colspan=4>
                Person-5 is 38 years old and he
                is chief executive he earns
                400000 per month
            </td>
        </tr>
    </table>
</div>


<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Потребители</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Роля</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody th:each="user : ${allUsers}"
                       th:object="${user}">
                <tr>
                    <td th:text="*{id}"></td>
                    <td th:text="*{username}"></td>
                    <td th:text="*{email}"></td>
                    <td th:each="role : *{roles}"
                        th:text="${role.userRole}"></td>

                    <td>
                        <a th:href="@{/user/change-role/{id} (id = *{id})}" class="edit" title="Направи Клиент"
                           data-toggle="tooltip">
                            <i class="material-icons"><span class="material-icons-outlined">person_add_alt_1</span></i></a>
                        <a th:href="@{/user/change-role/{id} (id = *{id})}" class="edit" title="Направи Администратор"
                           data-toggle="tooltip">
                            <i class="material-icons"><span
                                    class="material-icons-outlined">manage_accounts</span></i></a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Детайли за всички предлагани <b>Продукти</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Име</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Категория</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody th:each="product : ${allProducts}"
                       th:object="${product}">
                <tr>
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{price}"></td>
                    <td th:text="*{category.name}"></td>

                    <td>
                        <a th:href="@{/product/edit/{id}(id = *{id})}" class="edit" title="Edit" data-toggle="tooltip">
                            <i class="material-icons">&#xE254;</i></a>
                        <a th:href="@{/product/delete/{id}(id = *{id})}" class="delete" title="Delete"
                           data-toggle="tooltip">
                            <i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Детайли за всички <b>Активни Поръчки</b></h2>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Клиент</th>
                <th>Дата на поръчка</th>
                <th>Статус</th>
                <th>Обща Сума</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody class="border-primary" th:each="openOrder : ${allOpenOrders}"
                   th:object="${openOrder}">
            <tr style="background-color: beige">
                <th th:text="*{id}"></th>
                <td th:text="|*{client.firstName} *{client.lastName}|"></td>
                <td th:text="*{dateOrdered}"></td>
                <td th:text="*{orderStatus}"></td>
                <td th:text="|*{orderSum} лв.|"></td>
                <td><a th:href="@{/order/close/{id}(id = *{id})}" class="view" title="Close Order"
                       data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">Име на продукта</th>
                <th>Количество</th>
                <th>Единична Цена</th>
                <th>Сума</th>
            </tr>
            <tr th:each="prod : *{orderedProducts}">
                <td></td>
                <td colspan="2" th:text="${prod.name}"></td>
                <td th:text="${prod.quantity}"></td>
                <td th:text="${prod.price}"></td>
                <td th:text="${prod.sum}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Детайли за всички <b>Приключени Поръчки</b></h2>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Клиент</th>
                <th>Дата на поръчка</th>
                <th colspan="2">Статус</th>
                <th>Обща Сума</th>
            </tr>
            </thead>
            <tbody class="border-primary" th:each="closeOrder : ${allCloseOrders}"
                   th:object="${closeOrder}">
            <tr style="background-color: beige">
                <th th:text="${closeOrder.id}"></th>
                <td th:text="|${closeOrder.client.firstName} ${closeOrder.client.lastName}|"></td>
                <td th:text="${closeOrder.dateOrdered}"></td>
                <td colspan="2" th:text="${closeOrder.orderStatus}"></td>
                <td th:text="|${closeOrder.orderSum} лв.|"></td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">Име на продукта</th>
                <th>Количество</th>
                <th>Единична Цена</th>
                <th>Сума</th>
            </tr>

            <tr th:each="prod : *{orderedProducts}">
                <td></td>
                <td colspan="2" th:text="${prod.name}"></td>
                <td th:text="${prod.quantity}"></td>
                <td th:text="${prod.price}"></td>
                <td th:text="${prod.sum}"></td>
            </tr>

            <tr>
                <th></th>
                <th colspan="5">Отзив за тази Поръчка</th>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" th:text="${closeOrder.message?.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>