<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Бримчица - магазин за ръчно изработени плетива</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:insert="~{fragments/topbar}"></div>

<div th:insert="~{fragments/navbar}"></div>



    <!-- Header Start -->
    <div th:action="@{/product}" class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Продукти</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" th:href="@{/}">Начало</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0"><a class="text-white" th:href="@{/about}">Подробности за поръчка</a></p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">Нашите Продукти</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 pb-2" th:each="product : ${allProducts}"
                     th:object="${product}">

                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0"
                                th:text="|Цена: *{price} лв.|"></h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" th:src="*{img}" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4"
                            th:text="*{name}"></h5>
                        <a th:href="@{/product/info/{id} (id = *{id})}" class="btn btn-sm btn-secondary">Детайли</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Products End -->


    <!-- Footer Start -->
    <div th:insert="~{fragments/footer}"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>